@charset "UTF-8";
@import url('html5doctor-reset.css');
@import url('typography.css');
@import url('nav.css');




/* Main CSS Document for My Ai Website */

body {
	background-color: white; 
	
	}

	

header {padding: 20px 30px;
	   min-height: 60px;
	   background:url('../images/BS_logo.svg') no-repeat ;
	   background-size: contain; 
	   background-position: top right;
	   background-color: black;
	   	
}
#container {
	min-height: 600px;
	padding: 15px 30px;
	text-align:center;
	
	
}
footer {background-color: black;
	    padding: 15px 30px;
	
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (min-width: 601px) {
	
	 #wrapper {
		width: 600px;
		margin: 0 auto;
	}
}