@charset "UTF-8";
@import url('html5doctor-reset.css');
@import url('https://fonts.googleapis.com/css?family=Anton|Pacifico|Skranji');
/*CSS Document */
/*
font-family: 'Skranji', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive;
*/

body {
	background-color: cadetblue; 
	
	}

h1 {
	color: coral; 
	font-family:  'Anton', sans-serif;

	}