/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Anton|Pacifico|Skranji');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
		font-family: 'Road Rage';
		src: url('..fonts/Road_Rage.otf') format('opentype');
}



p {
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}


h1 {
	font-family: 'Road Rage'; color: red; 
	font-size: 40px; 
}

nav a {
	font-family: 'Road Rage'; color: red; 
}


footer p {text-align: center;
	padding: 20px; 
	font-family: 'Road Rage'; color: white; 
	font-size: 7px;}
li a { font-family: 'Road Rage'; color: red; 
	font-size: 40px;}
/*Main CSS Document for My AI Site*/


